<a href="https://colab.research.google.com/github/parlakisik/packetinspector/blob/main/ai/trainer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# prompt: show files in current directory

!ls -al train_data/

total 572844
drwxr-xr-x 2 root root      4096 Apr 12 04:04  .
drwxr-xr-x 1 root root      4096 Apr 12 04:01  ..
-rw-r--r-- 1 root root      4044 Apr 12 04:01  NUSW-NB15_features.csv
-rw-r--r-- 1 root root    189112 Apr 12 04:01 'The UNSW-NB15 description.pdf'
-rw-r--r-- 1 root root 168979718 Apr 12 04:03  UNSW-NB15_1.csv
-rw-r--r-- 1 root root 165221021 Apr 12 04:03  UNSW-NB15_2.csv
-rw-r--r-- 1 root root 154588103 Apr 12 04:02  UNSW-NB15_3.csv
-rw-r--r-- 1 root root  97588754 Apr 12 04:02  UNSW-NB15_4.csv

Unzipping files

In [2]:
!gzip -d train_data/*.gz

gzip: train_data/*.gz: No such file or directory

Importing libraries

In [3]:
# import libraries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os, re, time, math, tqdm, itertools
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.offline as pyo
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.neural_network import MLPClassifier
import keras
from keras.layers import Conv2D, Conv1D, MaxPooling2D, MaxPooling1D, Flatten, BatchNormalization, Dense
from keras.models import Sequential
from keras.callbacks import CSVLogger, ModelCheckpoint
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
from sklearn.metrics import ConfusionMatrixDisplay
from mlxtend.plotting import plot_confusion_matrix
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Conv1D, MaxPooling1D, Dense, Flatten , Activation, SimpleRNN, LSTM, GRU, Dropout, TimeDistributed, Reshape, Input, Lambda, Add
from tensorflow.keras import Sequential
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras import layers
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

Loading test data

In [4]:
dfs = []
for i in range(1,5):
    path = 'train_data/UNSW-NB15_{}.csv'
    dfs.append(pd.read_csv(path.format(i), header = None))
combined_data = pd.concat(dfs).reset_index(drop=True)

<ipython-input-4-4f7193ad3560>:4: DtypeWarning:

Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.

<ipython-input-4-4f7193ad3560>:4: DtypeWarning:

Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.

In [5]:
combined_data.shape

(2540047, 49)

In [6]:
combined_data.head()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0

In [7]:
dataset_columns = pd.read_csv('train_data/NUSW-NB15_features.csv',encoding='ISO-8859-1')
combined_data.columns = dataset_columns['Name']

In [8]:
combined_data.head()

Name,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0

Data status

In [9]:
def print_data_status():
  print("Combined data labels")
  print(combined_data['Label'].value_counts())
  print("Combined data features")
  print(combined_data.columns)
  print("Number of null data")
  print(combined_data.isnull().sum())
  print("Number of attack_cat values")
  print(combined_data['attack_cat'].value_counts())
  for col_name in combined_data.columns:
    print("Col name values ",col_name)
    print(combined_data[col_name].value_counts())

In [10]:
print(combined_data.columns)

Index(['srcip', 'sport', 'dstip', 'dsport', 'proto', 'state', 'dur', 'sbytes',
       'dbytes', 'sttl', 'dttl', 'sloss', 'dloss', 'service', 'Sload', 'Dload',
       'Spkts', 'Dpkts', 'swin', 'dwin', 'stcpb', 'dtcpb', 'smeansz',
       'dmeansz', 'trans_depth', 'res_bdy_len', 'Sjit', 'Djit', 'Stime',
       'Ltime', 'Sintpkt', 'Dintpkt', 'tcprtt', 'synack', 'ackdat',
       'is_sm_ips_ports', 'ct_state_ttl', 'ct_flw_http_mthd', 'is_ftp_login',
       'ct_ftp_cmd', 'ct_srv_src', 'ct_srv_dst', 'ct_dst_ltm', 'ct_src_ ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'attack_cat',
       'Label'],
      dtype='object', name='Name')

In [11]:
print_data_status()

Combined data labels
Label
0    2218764
1     321283
Name: count, dtype: int64
Combined data features
Index(['srcip', 'sport', 'dstip', 'dsport', 'proto', 'state', 'dur', 'sbytes',
       'dbytes', 'sttl', 'dttl', 'sloss', 'dloss', 'service', 'Sload', 'Dload',
       'Spkts', 'Dpkts', 'swin', 'dwin', 'stcpb', 'dtcpb', 'smeansz',
       'dmeansz', 'trans_depth', 'res_bdy_len', 'Sjit', 'Djit', 'Stime',
       'Ltime', 'Sintpkt', 'Dintpkt', 'tcprtt', 'synack', 'ackdat',
       'is_sm_ips_ports', 'ct_state_ttl', 'ct_flw_http_mthd', 'is_ftp_login',
       'ct_ftp_cmd', 'ct_srv_src', 'ct_srv_dst', 'ct_dst_ltm', 'ct_src_ ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'attack_cat',
       'Label'],
      dtype='object', name='Name')
Number of null data
Name
srcip                     0
sport                     0
dstip                     0
dsport                    0
proto                     0
state                     0
dur                       0
sbytes                    0
dbytes                    0
sttl                      0
dttl                      0
sloss                     0
dloss                     0
service                   0
Sload                     0
Dload                     0
Spkts                     0
Dpkts                     0
swin                      0
dwin                      0
stcpb                     0
dtcpb                     0
smeansz                   0
dmeansz                   0
trans_depth               0
res_bdy_len               0
Sjit                      0
Djit                      0
Stime                     0
Ltime                     0
Sintpkt                   0
Dintpkt                   0
tcprtt                    0
synack                    0
ackdat                    0
is_sm_ips_ports           0
ct_state_ttl              0
ct_flw_http_mthd    1348145
is_ftp_login        1429879
ct_ftp_cmd                0
ct_srv_src                0
ct_srv_dst                0
ct_dst_ltm                0
ct_src_ ltm               0
ct_src_dport_ltm          0
ct_dst_sport_ltm          0
ct_dst_src_ltm            0
attack_cat          2218764
Label                     0
dtype: int64
Number of attack_cat values
attack_cat
Generic             215481
Exploits             44525
 Fuzzers             19195
DoS                  16353
 Reconnaissance      12228
 Fuzzers              5051
Analysis              2677
Backdoor              1795
Reconnaissance        1759
 Shellcode            1288
Backdoors              534
Shellcode              223
Worms                  174
Name: count, dtype: int64
Col name values  srcip
srcip
59.166.0.4         197959
59.166.0.1         197680
59.166.0.5         197626
59.166.0.2         197550
59.166.0.0         197528
59.166.0.3         195953
59.166.0.9         190187
59.166.0.6         189419
59.166.0.8         189341
59.166.0.7         189059
175.45.176.1       127998
175.45.176.3       118673
175.45.176.0        82999
149.171.126.18      81680
149.171.126.15      44883
149.171.126.14      41047
175.45.176.2        32026
149.171.126.10      30365
149.171.126.12      16082
10.40.85.1           4018
10.40.182.1          3984
10.40.182.6          3492
10.40.85.30          2138
10.40.182.3          2105
10.40.170.2          2094
10.40.85.10           793
149.171.126.5         339
149.171.126.1         311
149.171.126.3         311
149.171.126.4         300
149.171.126.6         298
149.171.126.2         295
149.171.126.8         291
149.171.126.9         285
149.171.126.7         270
149.171.126.0         261
149.171.126.13        218
192.168.241.243       108
149.171.126.11         28
149.171.126.17         22
149.171.126.19         21
149.171.126.16          9
127.0.0.1               1
Name: count, dtype: int64
Col name values  sport
sport
1043     216289
47439    198580
0         50432
47439      4689
1043       4033
          ...
33785         1
2637          1
29900         1
3664          1
706           1
Name: count, Length: 100341, dtype: int64
Col name values  dstip
dstip
149.171.126.3      197771
149.171.126.2      197648
149.171.126.4      197639
149.171.126.1      197535
149.171.126.5      197000
149.171.126.0      196770
149.171.126.9      190483
149.171.126.7      190268
149.171.126.6      189709
149.171.126.8      187479
149.171.126.18     103066
175.45.176.3        93683
175.45.176.1        73927
149.171.126.15      50919
175.45.176.0        46671
149.171.126.14      45544
149.171.126.10      44059
149.171.126.12      30484
149.171.126.17      26918
149.171.126.13      17825
149.171.126.19      16176
149.171.126.11      14271
149.171.126.16      12377
224.0.0.5            4520
10.40.182.3          3824
10.40.182.255        3480
10.40.85.1           2407
10.40.170.2          2094
10.40.85.30          1728
59.166.0.0            333
59.166.0.1            329
59.166.0.2            325
59.166.0.9            313
59.166.0.4            303
59.166.0.6            284
59.166.0.8            274
59.166.0.5            271
59.166.0.7            267
192.168.241.50        265
10.40.198.10          265
59.166.0.3            262
192.168.241.243       108
175.45.176.2           97
224.0.0.1              56
10.40.182.6            11
32.50.32.66             8
127.0.0.1               1
Name: count, dtype: int64
Col name values  dsport
dsport
53       619538
53       179430
80       126921
80        99777
5190      64352
          ...
16465         1
5723          1
29159         1
24179         1
30870         1
Name: count, Length: 128297, dtype: int64
Col name values  proto
proto
tcp     1495074
udp      990435
unas      16202
arp       10064
ospf       7798
         ...
3pc         137
igmp         64
udt           8
rtp           7
esp           2
Name: count, Length: 135, dtype: int64
Col name values  state
state
FIN    1478689
CON     560588
INT     490471
REQ       9043
RST        528
ECO        337
CLO        161
URH        108
ACC         43
PAR         30
TST          9
ECR          9
URN          8
no           8
MAS          8
TXD          7
Name: count, dtype: int64
Col name values  dur
dur
0.000009    106079
0.000003     64050
0.000008     58560
0.000007     57223
0.000004     38535
             ...
0.209783         1
1.827734         1
2.138632         1
0.677925         1
0.916740         1
Name: count, Length: 587303, dtype: int64
Col name values  sbytes
sbytes
146       259174
264       213794
114       209771
130        94579
1684       88441
           ...
11585          1
16450          1
28218          1
130402         1
20935          1
Name: count, Length: 14155, dtype: int64
Col name values  dbytes
dbytes
0          500208
178        259004
10168      153856
304        105997
162         94478
            ...
24610           1
493945          1
542104          1
548000          1
1072362         1
Name: count, Length: 19166, dtype: int64
Col name values  sttl
sttl
31     1940700
254     331288
60      214255
62       29963
0        10448
1         4520
64        3625
29        2736
32        1602
63         526
30         225
252         84
255         75
Name: count, dtype: int64
Col name values  dttl
dttl
29     1939967
0       506076
252      85234
60        4304
31        2405
30        1789
32         194
254         60
253         11
62           6
64           1
Name: count, dtype: int64
Col name values  sloss
sloss
0       1047251
7        610841
3        163583
4        145979
2         99378
         ...
3518          1
3484          1
2045          1
2982          1
309           1
Name: count, Length: 544, dtype: int64
Col name values  dloss
dloss
0       1050438
4        168642
5        155799
7        115194
1         91385
         ...
717           1
2257          1
5436          1
416           1
3497          1
Name: count, Length: 707, dtype: int64
Col name values  service
service
-           1246397
dns          781668
http         206273
ftp-data     125783
smtp          81645
ftp           49090
ssh           47160
pop3           1533
dhcp            172
ssl             142
snmp            113
radius           40
irc              31
Name: count, dtype: int64
Col name values  Sload
Sload
5.066666e+07    63455
1.508571e+08    45308
1.520000e+08    30529
1.173333e+08    28708
5.280000e+08    28354
                ...
7.652183e+05        1
1.638935e+04        1
9.942142e+06        1
8.660992e+06        1
2.446567e+04        1
Name: count, Length: 1100258, dtype: int64
Col name values  Dload
Dload
0.000000e+00    500674
6.666667e+05      2348
6.768061e+05      2299
6.742424e+05      2297
6.723324e+05      2283
                 ...
1.652015e+05         1
4.887883e+05         1
7.794052e+06         1
6.248595e+04         1
1.466108e+05         1
Name: count, Length: 1173739, dtype: int64
Col name values  Spkts
Spkts
2       862396
4       173012
14      138851
52      131269
12      102714
         ...
2726         1
1192         1
6778         1
1118         1
6332         1
Name: count, Length: 933, dtype: int64
Col name values  Dpkts
Dpkts
0       500208
2       384671
18      258676
4       169318
42       97852
         ...
951          1
1153         1
1116         1
947          1
1114         1
Name: count, Length: 1255, dtype: int64
Col name values  swin
swin
255    1495013
0      1044993
70           5
1            4
202          1
14           1
232          1
31           1
203          1
188          1
76           1
99           1
192          1
245          1
52           1
154          1
67           1
5            1
43           1
103          1
45           1
87           1
172          1
168          1
167          1
42           1
38           1
210          1
160          1
134          1
46           1
61           1
145          1
179          1
92           1
156          1
Name: count, dtype: int64
Col name values  dwin
dwin
255    1491600
0      1048416
27           2
160          1
77           1
171          1
137          1
164          1
33           1
209          1
197          1
12           1
46           1
125          1
108          1
224          1
35           1
175          1
43           1
229          1
48           1
37           1
192          1
90           1
91           1
236          1
40           1
70           1
244          1
1            1
253          1
81           1
Name: count, dtype: int64
Col name values  stcpb
stcpb
0             1047866
2950215007         45
2569377993         44
1869730950         44
542769827          37
               ...
3236154442          1
2751971227          1
486574709           1
3236151191          1
4035116044          1
Name: count, Length: 1429571, dtype: int64
Col name values  dtcpb
dtcpb
0             1048191
2978851982         45
4041877587         44
439364479          44
555170381          37
               ...
86735000            1
6900419             1
2332272899          1
2415120450          1
222196311           1
Name: count, Length: 1429031, dtype: int64
Col name values  smeansz
smeansz
132     306475
73      260099
57      241687
64      126821
53      118131
         ...
1043         1
1382         1
1367         1
1427         1
1485         1
Name: count, Length: 1415, dtype: int64
Col name values  dmeansz
dmeansz
0       500208
89      259573
565     153929
76      106545
81       95165
         ...
1415         1
1429         1
1393         1
1480         1
1389         1
Name: count, Length: 1417, dtype: int64
Col name values  trans_depth
trans_depth
0      2334925
1       199573
2         5530
3            4
4            4
5            2
39           2
8            1
131          1
9            1
80           1
155          1
163          1
172          1
Name: count, dtype: int64
Col name values  res_bdy_len
res_bdy_len
0         2353295
3924       131231
524288      18905
83          15610
192          3915
           ...
2420            1
4896            1
2163            1
4931            1
7292            1
Name: count, Length: 2907, dtype: int64
Col name values  Sjit
Sjit
0.000000       963352
0.627911          305
0.626497          295
0.623668          295
0.626025          284
                ...
917.657198          1
679.318406          1
2164.691569         1
13.924265           1
1221.136547         1
Name: count, Length: 1381001, dtype: int64
Col name values  Djit
Djit
0.000000     899854
0.325979        144
0.292041        143
0.320322        141
0.293455        133
              ...
2.094419          1
1.441893          1
45.126067         1
17.174497         1
30.096029         1
Name: count, Length: 1424689, dtype: int64
Col name values  Stime
Stime
1421927443    426
1424219889    383
1421945101    226
1424251722    225
1424237259    213
             ...
1424219122      1
1424219798      1
1424219127      1
1424219619      1
1424219100      1
Name: count, Length: 85348, dtype: int64
Col name values  Ltime
Ltime
1424237259    236
1424251722    226
1424251558    218
1424223147    217
1424230194    209
             ...
1424219146      1
1424219148      1
1424219149      1
1424255293      1
1424219092      1
Name: count, Length: 85361, dtype: int64
Col name values  Sintpkt
Sintpkt
0.009000     183872
0.008000      98291
0.010000      86631
0.011000      77009
0.007000      76817
              ...
55.251770         1
20.629038         1
1.427226          1
1.459641          1
17.394400         1
Name: count, Length: 975275, dtype: int64
Col name values  Dintpkt
Dintpkt
0.000000     500707
0.007000      86761
0.008000      83544
0.009000      46397
0.006000      32645
              ...
62.369294         1
68.421235         1
3.345992          1
0.503378          1
68.120412         1
Name: count, Length: 960353, dtype: int64
Col name values  tcprtt
tcprtt
0.000000    1055023
0.000678       8438
0.000675       8437
0.000674       8434
0.000676       8429
             ...
0.110839          1
0.158724          1
0.148027          1
0.117111          1
0.249263          1
Name: count, Length: 76931, dtype: int64
Col name values  synack
synack
0.000000    1055023
0.000538      12164
0.000539      12161
0.000541      11944
0.000537      11838
             ...
0.087998          1
0.073144          1
0.103241          1
0.070725          1
0.136954          1
Name: count, Length: 66997, dtype: int64
Col name values  ackdat
ackdat
0.000000    1055425
0.000124      44129
0.000125      41891
0.000134      41168
0.000123      41085
             ...
0.073982          1
0.076650          1
0.080084          1
0.165873          1
0.058748          1
Name: count, Length: 60844, dtype: int64
Col name values  is_sm_ips_ports
is_sm_ips_ports
0    2535852
1       4195
Name: count, dtype: int64
Col name values  ct_state_ttl
ct_state_ttl
0    2178185
2     272003
1      81396
3       4251
6       4170
4         40
5          2
Name: count, dtype: int64
Col name values  ct_flw_http_mthd
ct_flw_http_mthd
0.0     986791
1.0     188008
6.0       7902
4.0       6564
3.0        738
2.0        588
5.0        430
9.0        270
14.0       224
12.0       132
30.0        60
8.0         56
16.0        48
36.0        36
10.0        30
25.0        25
Name: count, dtype: int64
Col name values  is_ftp_login
is_ftp_login
0.0    1066593
1.0      43389
4.0        156
2.0         30
Name: count, dtype: int64
Col name values  ct_ftp_cmd
ct_ftp_cmd
     1429879
0    1056339
1      22990
1      17087
0      10159
2       1234
4        804
3        729
6        332
5        290
4        156
2         30
8         18
Name: count, dtype: int64
Col name values  ct_srv_src
ct_srv_src
1     363002
2     322523
3     299684
4     196833
5     166961
       ...
63       126
67        67
66        66
64        64
61        61
Name: count, Length: 65, dtype: int64
Col name values  ct_srv_dst
ct_srv_dst
1     376802
2     323829
3     308913
4     210023
5     177473
       ...
66        66
64        64
63        63
62        62
61        61
Name: count, Length: 66, dtype: int64
Col name values  ct_dst_ltm
ct_dst_ltm
2     479041
3     418070
1     382592
4     312172
5     206185
       ...
53       212
55       165
59       118
67        67
61        61
Name: count, Length: 62, dtype: int64
Col name values  ct_src_ ltm
ct_src_ ltm
2     429734
3     393885
1     308932
4     305674
5     229638
       ...
53       212
55       165
67        67
61        61
59        59
Name: count, Length: 62, dtype: int64
Col name values  ct_src_dport_ltm
ct_src_dport_ltm
1     1691275
2      241553
3       73653
4       44826
6       43538
       ...
53        212
55        165
59        118
67         67
61         61
Name: count, Length: 62, dtype: int64
Col name values  ct_dst_sport_ltm
ct_dst_sport_ltm
1     1969394
2       74906
3       40152
4       34560
18      34506
16      28880
17      28305
8       27352
19      25422
22      24244
23      23000
24      22056
14      21000
13      19942
25      19350
20      16640
9       16344
5       15440
15      14955
6       14934
12      14232
11      13299
10      12580
7       12579
21       9429
30        540
33        495
60        480
29        464
26        416
28        392
27        378
31        372
32        320
56        224
35        210
48        192
46        184
34        170
54        162
52        156
49        147
36        144
58        116
38        114
57        114
37        111
53        106
51        102
50        100
47         94
40         80
39         78
44         44
41         41
Name: count, dtype: int64
Col name values  ct_dst_src_ltm
ct_dst_src_ltm
1     1012587
2      430244
3      290973
4      167907
5       82387
       ...
63        150
67         67
66         66
65         65
61         61
Name: count, Length: 65, dtype: int64
Col name values  attack_cat
attack_cat
Generic             215481
Exploits             44525
 Fuzzers             19195
DoS                  16353
 Reconnaissance      12228
 Fuzzers              5051
Analysis              2677
Backdoor              1795
Reconnaissance        1759
 Shellcode            1288
Backdoors              534
Shellcode              223
Worms                  174
Name: count, dtype: int64
Col name values  Label
Label
0    2218764
1     321283
Name: count, dtype: int64

In [12]:
def fix_data():
  # Filling none attacks to no_attack
  combined_data['attack_cat'] = combined_data['attack_cat'].fillna(value='no_attack').apply(lambda x: x.strip().lower())
  # Fixing backdoors and back door
  combined_data['attack_cat'] = combined_data['attack_cat'].replace('backdoors','backdoor', regex=True).apply(lambda x: x.strip().lower())
  combined_data['attack_cat'] = combined_data['attack_cat'].replace(' Shellcode','Shellcode', regex=True).apply(lambda x: x.strip().lower())
  combined_data['attack_cat'] = combined_data['attack_cat'].replace(' Fuzzers','Fuzzers', regex=True).apply(lambda x: x.strip().lower())
  combined_data['attack_cat'] = combined_data['attack_cat'].replace(' Fuzzers ','Fuzzers', regex=True).apply(lambda x: x.strip().lower())
  combined_data['attack_cat'] = combined_data['attack_cat'].replace(' Reconnaissance','Reconnaissance', regex=True).apply(lambda x: x.strip().lower())
  # Fill null https methos to 0
  combined_data['ct_flw_http_mthd'] = combined_data['ct_flw_http_mthd'].fillna(value=0)
  # Fix is ftp login to 0 and false
  combined_data['is_ftp_login'] = combined_data['is_ftp_login'].fillna(value=0)
  combined_data['is_ftp_login'] = np.where(combined_data['is_ftp_login']>1, 1, combined_data['is_ftp_login'])

  combined_data['service'] = combined_data['service'].apply(lambda x:"None" if x=='-' else x)
  combined_data['ct_ftp_cmd'] = combined_data['ct_ftp_cmd'].replace(to_replace=' ', value=0).astype(int)

In [13]:
fix_data()

In [14]:
# Removing src and dst ip adresses
combined_data.drop(columns=['srcip','dstip','Label'],inplace=True)

In [15]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2540047 entries, 0 to 2540046
Data columns (total 46 columns):
 #   Column            Dtype
---  ------            -----
 0   sport             object
 1   dsport            object
 2   proto             object
 3   state             object
 4   dur               float64
 5   sbytes            int64
 6   dbytes            int64
 7   sttl              int64
 8   dttl              int64
 9   sloss             int64
 10  dloss             int64
 11  service           object
 12  Sload             float64
 13  Dload             float64
 14  Spkts             int64
 15  Dpkts             int64
 16  swin              int64
 17  dwin              int64
 18  stcpb             int64
 19  dtcpb             int64
 20  smeansz           int64
 21  dmeansz           int64
 22  trans_depth       int64
 23  res_bdy_len       int64
 24  Sjit              float64
 25  Djit              float64
 26  Stime             int64
 27  Ltime             int64
 28  Sintpkt           float64
 29  Dintpkt           float64
 30  tcprtt            float64
 31  synack            float64
 32  ackdat            float64
 33  is_sm_ips_ports   int64
 34  ct_state_ttl      int64
 35  ct_flw_http_mthd  float64
 36  is_ftp_login      float64
 37  ct_ftp_cmd        int64
 38  ct_srv_src        int64
 39  ct_srv_dst        int64
 40  ct_dst_ltm        int64
 41  ct_src_ ltm       int64
 42  ct_src_dport_ltm  int64
 43  ct_dst_sport_ltm  int64
 44  ct_dst_src_ltm    int64
 45  attack_cat        object
dtypes: float64(12), int64(28), object(6)
memory usage: 891.4+ MB

In [16]:
for column in combined_data.select_dtypes(include='int64').columns:
    combined_data[column] = combined_data[column].astype(np.float64)

In [17]:
def convert_to_int(value):
    try:
        if type(value) == int:
            return value
        elif value.startswith('0x'):
            return int(value, 16)
        else:
            return int(value)
    except ValueError:
        return -1  # or return some default value if conversion fails

combined_data['sport'] = combined_data['sport'].apply(convert_to_int)
combined_data["dsport"] = combined_data["dsport"].apply(convert_to_int)
combined_data['sport'] = combined_data['sport'].astype(np.float64)
combined_data['dsport'] = combined_data['dsport'].astype(np.float64)

In [18]:
combined_data['sport'] ,combined_data["dsport"]

(0           1390.0
 1          33661.0
 2           1464.0
 3           3593.0
 4          49664.0
             ...
 2540042    33094.0
 2540043    20848.0
 2540044    21511.0
 2540045    35433.0
 2540046    17293.0
 Name: sport, Length: 2540047, dtype: float64,
 0             53.0
 1           1024.0
 2             53.0
 3             53.0
 4             53.0
             ...
 2540042    43433.0
 2540043       21.0
 2540044       21.0
 2540045       80.0
 2540046      110.0
 Name: dsport, Length: 2540047, dtype: float64)

In [ ]:
'''
def string_to_number(data):
    # Get unique elements and sort them based on their occurrences
    unique_elements, counts = np.unique(data, return_counts=True)
    sorted_indices = np.argsort(-counts)
    sorted_elements = unique_elements[sorted_indices]

    # Create a mapping from unique elements to numbers
    element_to_number = {element: i for i, element in enumerate(sorted_elements)}

    # Convert the data to numbers using the mapping
    number_data = np.array([element_to_number[element] for element in data])
    return number_data

combined_data['proto'] = string_to_number(combined_data['proto'])
combined_data['proto'] = combined_data['proto'].astype(np.float64)
combined_data['state'] = string_to_number(combined_data['state'])
combined_data['state'] = combined_data['state'].astype(np.float64)
combined_data['service'] = string_to_number(combined_data['service'])
combined_data['service'] = combined_data['service'].astype(np.float64)
'''

In [ ]:
combined_data.info()

Adding clean up

In [ ]:
#encoder = LabelEncoder()
#encoder.fit(combined_data['attack_cat'])
#encoded_Y = encoder.transform(combined_data['attack_cat'])

In [19]:
X, Y = combined_data.drop(columns=['attack_cat']), combined_data[['attack_cat']]

In [20]:
X.shape, Y.shape

((2540047, 45), (2540047, 1))

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state=500)

In [23]:
cat_col = ['proto', 'service', 'state']
num_col = list(set(X.columns) - set(cat_col))
scaler = StandardScaler()
scaler = scaler.fit(X[num_col])
X_train[num_col] = scaler.transform(X_train[num_col])
X_test[num_col] = scaler.transform(X_test[num_col])

In [24]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(sparse=False), cat_col)], remainder='passthrough')
X = np.array(ct.fit_transform(X))
X_train = np.array(ct.transform(X_train))
X_test = np.array(ct.transform(X_test))

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning:

`sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.

In [25]:
attacks = Y['attack_cat'].unique()
ct1 = ColumnTransformer(transformers=[('encoder', OneHotEncoder(categories=[attacks],sparse_output=False), ['attack_cat'])], remainder='passthrough')
Y = np.array(ct1.fit_transform(Y))
y_train = np.array(ct1.transform(y_train))
y_test = np.array(ct1.transform(y_test))

In [26]:
X

array([[0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 2.],
       [0., 0., 0., ..., 2., 1., 1.],
       ...,
       [0., 0., 0., ..., 2., 2., 2.],
       [0., 0., 0., ..., 2., 2., 2.],
       [0., 0., 0., ..., 2., 2., 2.]])

In [27]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2032037, 206), (508010, 206), (2032037, 10), (508010, 10))

In [28]:
def create_model():
    n_features = X_train.shape[1]  # Number of features from training data

    # Define the model
    model = Sequential()

    # First convolutional block
    model.add(Conv1D(filters=16, kernel_size=1, activation='relu', input_shape=(n_features,1)))
    model.add(MaxPooling1D(pool_size=2))
    model.add(BatchNormalization())

    # First LSTM block
    model.add(LSTM(units=16, return_sequences=True))

    # Second convolutional block
    model.add(Conv1D(filters=32, kernel_size=3, activation='relu'))
    model.add(MaxPooling1D(pool_size=2))
    model.add(BatchNormalization())

    # Second LSTM block
    model.add(LSTM(units=32, return_sequences=True))

    # Third convolutional block
    model.add(Conv1D(filters=64, kernel_size=5, activation='relu'))
    model.add(MaxPooling1D(pool_size=2))
    model.add(BatchNormalization())

    # Third LSTM block
    model.add(LSTM(units=64))

    # Dense layers
    model.add(Dense(64, activation='relu'))
    model.add(Dropout(0.2))  # Adjusted dropout rate for dense layer

    model.add(Dense(10, activation='softmax'))  # Output layer for 10 classes

    model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy', tf.keras.metrics.Precision(), tf.keras.metrics.Recall()])
    return model

In [29]:
model = create_model()
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d (Conv1D)             (None, 206, 16)           32

 max_pooling1d (MaxPooling1  (None, 103, 16)           0
 D)

 batch_normalization (Batch  (None, 103, 16)           64
 Normalization)

 lstm (LSTM)                 (None, 103, 16)           2112

 conv1d_1 (Conv1D)           (None, 101, 32)           1568

 max_pooling1d_1 (MaxPoolin  (None, 50, 32)            0
 g1D)

 batch_normalization_1 (Bat  (None, 50, 32)            128
 chNormalization)

 lstm_1 (LSTM)               (None, 50, 32)            8320

 conv1d_2 (Conv1D)           (None, 46, 64)            10304

 max_pooling1d_2 (MaxPoolin  (None, 23, 64)            0
 g1D)

 batch_normalization_2 (Bat  (None, 23, 64)            256
 chNormalization)

 lstm_2 (LSTM)               (None, 64)                33024

 dense (Dense)               (None, 64)                4160

 dropout (Dropout)           (None, 64)                0

 dense_1 (Dense)             (None, 10)                650

=================================================================
Total params: 60618 (236.79 KB)
Trainable params: 60394 (235.91 KB)
Non-trainable params: 224 (896.00 Byte)
_________________________________________________________________

In [32]:
X_train

array([[ 0.        ,  0.        ,  0.        , ..., -0.42962032,
        -0.41991297, -0.43042863],
       [ 0.        ,  0.        ,  0.        , ..., -0.42962032,
        -0.41991297, -0.43042863],
       [ 0.        ,  0.        ,  0.        , ..., -0.19370385,
        -0.09599717, -0.34160512],
       ...,
       [ 0.        ,  0.        ,  0.        , ..., -0.42962032,
        -0.41991297, -0.34160512],
       [ 0.        ,  0.        ,  0.        , ..., -0.42962032,
        -0.41991297, -0.51925215],
       [ 0.        ,  0.        ,  0.        , ...,  2.28341905,
         1.84749762,  4.27721779]])

In [34]:
y_train.shape

(2032037, 10)

In [31]:
history = model.fit(X_train, validation_data=y_train, epochs=50, batch_size=2048)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [ ]:
model.evaluate(X_test, Y_test)

In [ ]:
res = model.predict(test_data, batch_size=2048)
def confusion_plot(roi,res,title=None, class_name=None):
    fig, ax = plot_confusion_matrix(conf_mat = confusion_matrix(roi,res), class_names = class_name, show_absolute=True, show_normed=True, hide_spines=False, hide_ticks=False, figsize=(10,10))
    plt.title(title+'\n Accuary=%f \nPrecision=%f \nRecall=%f \nF1_Score=%f '%(\
    accuracy_score(roi,res),\
    precision_score(roi,res, average='macro'),\
    recall_score(roi,res, average='macro'),\
    f1_score(roi,res, average='macro')\
))
    plt.show()
confusion_plot(res.argmax(axis=-1), test_res.argmax(axis=-1), 'Hybrid-Deep CNN-WDLSTM model', data_43_type)